!-- Modal -->
<div class="modal fade" id="edit_user_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="edit_user_form" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit User</h4>
                </div>
                <div class="modal-body">
                    <div id="alert" class="alert alert-danger hidden" role="alert" >
                        <a class="close" onclick="$('.alert').hide()">×</a>
                        <div id="alert_text"></div>
                    </div>
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" placeholder="First Name" name="first_name" type="text" >
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Last Name" name="last_name" type="text">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="E-mail" name="email" type="email">
                        </div>
                        <div class="hidden">
                            <input class="form-control" name="id" type=""text>
                        </div>
                        <div>
                            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Change Password</button>
                        </div>
                        <div class="collapse" id="collapseExample" style="margin-top: 8px">
                            <div class="well">
                                <div class="form-group">
                                    <input id="old_password" class="form-control" placeholder="Old Password" name="old_password" type="password" value="">
                                </div>
                                <div class="form-group">
                                    <input id="new_password" class="form-control" placeholder="New Password" name="new_password" type="password" value="">
                                </div>
                                <div class="form-group">
                                    <input id="new_password_confirmation" class="form-control" placeholder="Confirm New Password" name="new_password_confirmation" type="password" value="">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                    <input class="btn btn-primary" type="submit" value="Save changes">
                </div>
            </form>
        </div>
    </div>
</div>