<!DOCTYPE html>
<html lang="en">

<head>
    <% include header.ejs %>
</head>

<body>

<div id="wrapper">
    <% include navigation.ejs%>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Account</h1>
                <div id="user_id" class="hidden"><%=user._id%></div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Settings
                        <a style="float: right" class="pointer"  data-toggle="modal" data-target="#edit_user_modal"><i class="fa fa-pencil-square-o fa-lg"></i></a>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-3">First Name:<div id="first_name" class="display-inline"> <%=user.first_name%> </div></div>
                            <div class="col-lg-3">Last Name: <div id="last_name" class="display-inline"><%=user.last_name%></div></div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">Email: <div id="email" class="display-inline"><%=user.email%> </div></div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">Role: <%=user.role%></div>
                        </div>

                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<%include footer.ejs%>
<%include modals/edit_user_modal.ejs%>

<script src="/bower_components/typeahead.js/dist/bloodhound.min.js"></script>
<script src="/bower_components/typeahead.js/dist/typeahead.bundle.min.js"></script>
<script src="/bower_components/typeahead.js/dist/typeahead.jquery.min.js"></script>
<script src="/bower_components/CoolClock/coolclock.js"></script>
<script src="/bower_components/CoolClock/moreskins.js"></script>
<!-- DataTables JavaScript -->
<script src="../bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="../bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>

<script src="dist/js/profile.js"></script>
</body>

</html>
