<!DOCTYPE html>
<html lang="en">

<head>
    <% include header.ejs %>

    <!-- DataTables CSS -->
    <link href="../bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="../bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">



</head>

<body>
<div id="loading_panel" class="loading hidden" style="z-index: 999">Loading&#8230;</div>
<div id="wrapper">
    <% include navigation.ejs%>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Users</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Users List
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <table class="table table-hover" id="dataTables-example">
                                <thead>
                                <tr>
                                    <th class="hidden"></th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <% for(var i=0; i<users.length; i++) {%>
                                    <tr class="odd" id="<%= users[i]._id %>">
                                        <td class="hidden"><%= users[i]._id %></td>
                                        <td class="center vert-align"><%= users[i].first_name %></td>
                                        <td class="center vert-align"><%= users[i].last_name %></td>
                                        <td class="center vert-align"><%= users[i].email %></td>
                                        <td class="center vert-align">
                                            <select  class="user_role form-control center vert-align">
                                                <%if(users[i].role == 'admin'){%>
                                                    <option value="admin" selected="selected">Admin</option>
                                                <%}else{%>
                                                    <option value="admin" >Admin</option>
                                                <%}%>
                                                <%if(users[i].role == 'records_manager'){%>
                                                    <option value="records_manager" selected="selected">Records Manager</option>
                                                <%}else{%>
                                                    <option value="records_manager" >Records Manager</option>
                                                <%}%>
                                                <%if(users[i].role == 'user'){%>
                                                    <option value="user" selected="selected">User</option>
                                                <%}else{%>
                                                    <option value="user" >User</option>
                                                <%}%>
                                            </select>
                                        </td>
                                        <td class="center vert-align"><a class="pointer"  data-toggle="modal" data-target="#edit_user_modal"><i class="fa fa-pencil-square-o"></i></a></td>
                                        <td class="center vert-align"><a class="pointer delete_user" user_id="<%= users[i]._id %>"><i class="fa fa-trash-o"></i></a></td>
                                    </tr>
                                <% } %>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<%include modals/edit_user_modal.ejs%>
<%include footer.ejs%>

<!-- DataTables JavaScript -->
<script src="../bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="../bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>

<!--user scripts-->

<script src="/dist/js/users-admin.js"></script>

</body>

</html>
